<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jackieyang.rbac.mapper.RbacMapper">

    <!-- query specified user role and permission by user id -->
    <select id="queryUserRolePermissionByUserId" parameterType="Long" resultType="com.jackieyang.rbac.entity.pojo.UserRolePermission">
        SELECT user.id                    user_id,
               user.username              username,
               role.id                    role_id,
               role.role_name             role_name,
               role.role_desc             role_desc,
               permission.id              permission_id,
               permission.allow_path      allow_path,
               permission.allow_method    allow_method,
               permission.permission_desc permission_desc
        FROM user
                 JOIN user_role_relation ON user.id = user_role_relation.user_id
                 JOIN role ON user_role_relation.role_id = role.id
                 JOIN role_permission_relation ON role.id = role_permission_relation.role_id
                 JOIN permission ON role_permission_relation.permission_id = permission.id
        WHERE user.id = #{userId}
    </select>

</mapper>