<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jackieyang.rbac.mapper.UserRoleMapper">

    <!-- query all user roles -->
    <select id="queryUserRoles" resultType="com.jackieyang.rbac.entity.pojo.UserRole">
        SELECT user_role_relation.id id,
               user.id             user_id,
               user.username       username,
               role.id             role_id,
               role.role_name      role_name,
               role.role_desc      role_desc
        FROM user
            JOIN user_role_relation ON user.id = user_role_relation.user_id
            JOIN role ON user_role_relation.role_id = role.id
    </select>

    <!-- query specified user role by user id -->
    <select id="queryUserRoleByUserId" parameterType="Long" resultType="com.jackieyang.rbac.entity.pojo.UserRole">
        SELECT user_role_relation.id id,
               user.id             user_id,
               user.username       username,
               role.id             role_id,
               role.role_name      role_name,
               role.role_desc      role_desc
        FROM user
            JOIN user_role_relation ON user.id = user_role_relation.user_id
            JOIN role ON user_role_relation.role_id = role.id
        WHERE user.id = #{userId}
    </select>
</mapper>